body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.values {
  margin-top: 10px;
}

.value {
  padding: 8px;
  margin: 5px;
  border: 1px solid #000222;
  background-color: #eee;
  border-radius: 4px;
  margin-top: 12px;
}

.form {
  margin-top: 20px;
}

label {
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 10px;
}
